<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin-top:7%">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">@Html.ActionLink("按科室挂号", "Guahao", "Home")</li>
                <li>@Html.ActionLink("按疾病挂号", "GuahaoByDisease", "Home")</li>
                <li>@Html.ActionLink("查询/取消", "SearchOrCancel", "Home")</li>
                <li>@Html.ActionLink("停诊信息", "", "")</li>
                <li>@Html.ActionLink("预约须知", "", "")</li>
                <li>@Html.ActionLink("最新公告", "News", "Home")</li>
            </ul>
        </div>
        <div class="col-md-8">
            <h3>科室排班表</h3>
            <table class="table table-hover">
                <tr>
                    <td>#</td>
                    <td>星期一</td>
                    <td>星期二</td>
                    <td>星期三</td>
                    <td>星期四</td>
                    <td>星期五</td>
                    <td>星期六</td>
                    <td>星期日</td>
                </tr>
                <tr>
                    <td>上午</td>
                    <td>约满</td>
                    <td>约满</td>
                    <td>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                            可预约
                        </button>

                        <!-- Modal -->
                        @using (Html.BeginForm("GetReservationInfo", "Reservation", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">请填写您的相关信息</h4>
                                        </div>

                                        <div class="modal-body">

                                            <form class="form-horizontal" id="frm">
                                                <div class="form-group">
                                                    <label for="inputName" class="col-sm-2 control-label">姓名</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextBox("Name", null, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputIdNumber" class="col-sm-2 control-label">身份证号</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextBox("IdNumber", null, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPhone" class="col-sm-2 control-label">联系电话</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextBox("Phone", null, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="SelectSex" class="col-sm-2 control-label">性别</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" id="Sex">
                                                            <option>M</option>
                                                            <option>F</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="situation_info" class="col-sm-2 control-label">病情简单描述</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" rows="3" id="Record"></textarea>
                                                    </div>
                                                </div>
                                            </form>


                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="submit" class="btn btn-primary" name="submit" id="btnsubmit" value="submit">确认</button>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        }
                    </td>
                    <td></td>
                    <td>约满</td>
                    <td>约满</td>
                    <td></td>
                </tr>
                <tr>
                    <td>下午</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>下午</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

</div>
