<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin-top:7%">
            <ul class="nav nav-pills nav-stacked">
                <li>@Html.ActionLink("按科室挂号", "Guahao", "Home")</li>
                <li class="active">@Html.ActionLink("按疾病挂号", "GuahaoByDisease", "GuahaoByDisease")</li>
                <li>@Html.ActionLink("查询/取消","SearchOrCancel","Home")</li>
                <li>@Html.ActionLink("停诊信息", "", "")</li>
                <li>@Html.ActionLink("预约须知", "", "")</li>
                <li>@Html.ActionLink("最新公告", "News", "Home")</li>

            </ul>
        </div>
        <div class="col-md-8">
                    <h4 style="color:deepskyblue;border-bottom:1px solid">肌肉</h4>
                        
                    <div class="col-md-2">
                            <img class="center-block" src="~/pic/D_1.jpg" />
                            <p class="text-center" style="color:deepskyblue">肌肉</p>
                        </div>
                    <div class="col-md-10">
                            <table class="table">
                                <tr>
                                    <td>@Html.ActionLink("癫痫", "guahao_next", "Home",new { @style="color:black"})</td>
                                    <td>腹股沟疝</td>
                                    <td>肌病</td>
                                    <td>乳腺纤维瘤</td>
                                </tr>
                                <tr>
                                    <td>疼痛</td>
                                    <td>纤维瘤</td>
                                    <td>腰肌劳损</td>
                                    <td>营养不良</td>           
                                </tr>
                                <tr>
                                    <td>重症肌无力</td>
                                </tr>
                            </table>
                        </div>
                    <h4 style="color:deepskyblue;border-bottom:1px solid">皮肤</h4>

                    <div class="col-md-2">
                        <img class="center-block" src="~/pic/D_2.jpg" />
                        <p class="text-center" style="color:deepskyblue">皮肤</p>
                    </div>
                    <div class="col-md-10">
                        <table class="table">
                            <tr>
                                <td>疤痕</td>
                                <td>白癜风</td>
                                <td>瘢痕疙瘩</td>
                                <td>扁平疣</td>
                            </tr>
                            <tr>
                                <td>病理诊断</td>
                                <td>痤疮</td>
                                <td>带状抱枕</td>
                                <td>冻伤</td>
                            </tr>
                            <tr>
                                <td>多汗症</td>
                                <td>放射诊断</td>
                                <td>腹外疝</td>
                                <td>过敏性紫癜</td>
                            </tr>
                            <tr>
                                <td>红斑狼疮</td>
                                <td>花粉症</td>
                                <td>黄褐斑</td>
                                <td>鸡眼</td>
                            </tr>
                            <tr>
                                <td>激素依赖性皮炎</td>
                                <td>尖锐湿庞</td>
                                <td>结节性红斑</td>
                                <td>毛囊炎</td>
                            </tr>
                            <tr>
                                <td>...</td>
                            </tr>
                        </table>
                    </div>

                    <h4 style="color:deepskyblue;border-bottom:1px solid">免疫系统淋巴</h4>

                    <div class="col-md-2">
                        <img class="center-block" src="~/pic/D_3.jpg" />
                        <p class="text-center" style="color:deepskyblue">免疫系统淋巴</p>
                    </div>
                    <div class="col-md-10">
                        <table class="table">
                            <tr>
                                <td>癫痫</td>
                                <td>腹股沟疝</td>
                                <td>肌病</td>
                                <td>乳腺纤维瘤</td>
                            </tr>
                            <tr>
                                <td>疼痛</td>
                                <td>纤维瘤</td>
                                <td>腰肌劳损</td>
                                <td>营养不良</td>
                            </tr>
                            <tr>
                                <td>重症肌无力</td>
                            </tr>
                        </table>
                    </div>

                    <h4 style="color:deepskyblue;border-bottom:1px solid">周围神经系统</h4>

                    <div class="col-md-2">
                        <img class="center-block" src="~/pic/D_4.jpg" />
                        <p class="text-center" style="color:deepskyblue">周围神经系统</p>
                    </div>
                    <div class="col-md-10">
                        <table class="table">
                            <tr>
                                <td>癫痫</td>
                                <td>腹股沟疝</td>
                                <td>肌病</td>
                                <td>乳腺纤维瘤</td>
                            </tr>
                            <tr>
                                <td>疼痛</td>
                                <td>纤维瘤</td>
                                <td>腰肌劳损</td>
                                <td>营养不良</td>
                            </tr>
                            <tr>
                                <td>重症肌无力</td>
                            </tr>
                        </table>
                    </div>
                </div>
    </div>
</div>


