<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin-top:7%">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">@Html.ActionLink("按科室挂号","Guahao","Home")</li>
                <li>@Html.ActionLink("按疾病挂号","GuahaoByDisease","Home")</li>
                <li>@Html.ActionLink("查询/取消", "SearchOrCancel", "Home")</li>
                <li>@Html.ActionLink("停诊信息", "", "")</li>
                <li>@Html.ActionLink("预约须知", "", "")</li>
                <li>@Html.ActionLink("最新公告","News","Home")</li>
            </ul>
        </div>
        <div class="col-md-8">
                <h4 style="color:deepskyblue">内科</h4>
                <table class="table-hover table">
                    <tr>
                        <td>@Html.ActionLink("心脑血管科", "guahao_next", "Home", new { @style = "color:black" })</td>
                        <td>神经内科</td>
                        <td>消化内科</td>
                        <td>内分泌科</td>
                        <td>免疫科</td>
                    </tr>
                    <tr>
                        <td>呼吸科</td>
                        <td>肾病内科</td>
                        <td>血液科</td>
                        <td>感染内科</td>
                        <td>过敏反应科</td>
                    </tr>
                    <tr>
                        <td>老年病科</td>
                        <td>普通内科</td>
                        <td>高压氧科</td>
                    </tr>
                </table>
                <h4 style="color:deepskyblue">外科</h4>
                <table class="table-hover table">
                    <tr>
                        <td>神经外科</td>
                        <td>功能性神经外科</td>
                        <td>心血管外科</td>
                        <td>胸外科</td>
                        <td>整形科</td>
                    </tr>
                    <tr>
                        <td>乳腺外科</td>
                        <td>泌尿外科</td>
                        <td>肝胆外科</td>
                        <td>肛肠科</td>
                        <td>血管外科</td>
                    </tr>
                    <tr>
                        <td>器官移植</td>
                        <td>微创外科</td>
                        <td>普外科</td>
                        <td>脑外科</td>
                        <td>烧伤科</td>
                    </tr>
                </table>
                <h4 style="color:deepskyblue">妇产科</h4>
                <table class="table-hover table">
                    <tr>
                        <td>妇科</td>
                        <td>产科</td>
                        <td>妇科内分泌</td>
                        <td>妇泌尿科</td>
                        <td>遗传咨询科</td>
                    </tr>
                    <tr>
                        <td>计划生育科</td>
                        <td>妇产科</td>
                    </tr>
                </table>
                <h4 style="color:deepskyblue">生殖中心</h4>
                <table class="table-hover table">
                    <tr>
                        <td>生殖中心</td>
                    </tr>
                </table>
                <h4 style="color:deepskyblue">儿科</h4>
                <table class="table-hover table">
                    <tr>
                        <td>儿科</td>
                        <td>新生儿科</td>
                        <td>小儿呼吸科</td>
                        <td>小儿营养保健科</td>
                        <td>小儿心内科</td>
                    </tr>
                    <tr>
                        <td>小儿皮肤科</td>
                        <td>小儿精神科</td>
                        <td>小儿外科</td>
                        <td>小儿心外科</td>
                        <td>小儿骨科</td>
                    </tr>
                    <tr>
                        <td>小儿神经外科</td>
                        <td>小儿康复科</td>
                    </tr>
                </table>
                <h4 style="color:deepskyblue">骨外科</h4>
                <h4 style="color:deepskyblue">眼科</h4>
                <h4 style="color:deepskyblue">口腔科</h4>
                <h4 style="color:deepskyblue">耳鼻咽喉头颈科</h4>
                <h4 style="color:deepskyblue">肿瘤科</h4>
                <h4 style="color:deepskyblue">皮肤性病科</h4>
                <h4 style="color:deepskyblue">男性学科</h4>
                <h4 style="color:deepskyblue">皮肤美容</h4>
                <h4 style="color:deepskyblue">烧伤科</h4>
                <h4 style="color:deepskyblue">精神心理科</h4>
                <h4 style="color:deepskyblue">中医科</h4>

            </div>
    </div>
</div>
